.section--title{
    text-align: center;
    margin: auto;
    margin-bottom: 70px;
    font-size: 30px;
}
.products--container{
   
    display: flex;
justify-content: space-around;
flex-wrap: wrap;
margin: 10px 100px;


   
}
.products--card{
   position: relative;

  padding: 60px;
  
 margin: 10px;
 margin-bottom: 50px;
   
    
}
.products--img{
   
    position: absolute;
    width: 60%;
   right: 50px;
  
 transition: transform .4s;
 top: -50px;
}
.products--img:hover{
    transform: translateY(-.5rem);
}
.products--name{
   
    padding-top: 30px;
    font-size: 30px;
 

  
}
.products--price{
    font-size: 40px;
    color:#f60925;
    padding-right: 50px;
    font-weight: 900;
    
}
.products--button{
    border: 1px solid #f60925;
   background-color: #f60925;
    font-size: 30px;
    color:#fff;
}